# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data / checkpoints / outputs（依你專案調整）
data/*
!data/__init__.py
output/
logs/
*.pth
*.pth.tar
*.pt

# Large temp files
*.log
*.tmp

# YOLO 本地 repo，不要上傳
yolov8-face/

# 資料集與大壓縮檔，不要上傳
MagLayout.zip
crello_v4_train_images/
crello_v4_validation_images/
crello_v4_test_images/
publaynet/
rico_dataset_v0.1_semantic_annotations.zip

# 依需求決定
# crello_ws_gt0_6_metrics.csv

# 忽略資料集 (請確認你的資料夾名稱，若是 crello 也請加入)
data/
dataset/
crello_v3_mainpart/

# 忽略訓練權重與快取
*.pkl
*.pth
checkpoints/
__pycache__/

# 忽略系統檔
.DS_Store
